<!--
  TODO: create a two column layout where the searchbar is to the left and the notifications about users want to be a teacher is to the right
    Include this in the base.html ??? hmmmmmmmmm
-->

<div class="split left-half">
    <div class="grid center">
        <form method="post" action="/adminpage.php">
            <h2>Search for users to give admin role</h2>
            <hr class="my-4">
            <div class="row no-gutters ">

                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" name="search_text"
                           placeholder="Enter email or name">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg" name="submit_search" type="submit">Search</button>
                </div>
                <!--end of col-->
            </div>
        </form>

        <div class="row no-gutters center">
            {% for result in searchResults %}
            <a href="adminpage.php?setasadmin={{result.userId}}">{{result.firstName}} {{result.lastName}}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="split right-half">
    {% if names %}
    <form method="post" action="/adminpage.php" class="center">
        <h2>Check the persons that wants to be a teacher</h2>
        <hr class="my-4">

        {% for name in names %}
        <div class="row no-gutters ">
            <div class="col-auto">
                <input type="hidden" name="checkbox[{{name.email}}]" value="0">
                <p class="onoff"><input type="checkbox" name="checkbox[{{name.email}}]" value="1"
                                        id="{{loop.index}}"><label for="{{loop.index}}"></label></p>
            </div>
            <div class="col">
                <span>{{name.firstName}} {{name.lastName}}</span>
            </div>
        </div>
        {% endfor %}

        <hr class="my-4">
        <button class="btn btn-lg" name="submit_checkbox" type="submit">Submit
        </button>
    </form>
    {% else %}
    <h2 class="center">There are currently no requests for teacher role</h2>
    <hr class="my-4">
    {% endif %}
</div>


