<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/css/base-style.css">

</head>
<body>
{% if error.status == true %}
<div class="alert alert-warning" id="error" role="alert">
    {% for message in error.messages %}
    {{ message }}<br>
    {% endfor %}
    <button class="btn btn-info" onclick="let error = document.getElementById('error'); error.parentNode.removeChild(error);">Remove warning</button>

</div>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="index.php">{{title}}</a>
                <form class="form-inline" method="post" action="/search.php">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" name="submit" type="submit">Search</button>

                    <a href="/public/searchhelp.txt"><i class="fa fa-question-circle" style="font-size:36px"></i></a>

                </form>


                {%if loggedin == true%}
                <a class="nav-item nav-link" href="logout.php">Logout</a>
                {%else%}
                <a class="nav-item nav-link" href="login.php">Login</a>
                {%endif%}
            </nav>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-2">
            <!--Sidebar-->
            <div class="fixed bg-light">


                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Recent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.php?query=type:video">Show all videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="playlist.php">Show all playlists</a>
                    </li>
                </ul>
                <br>
                <hr>
                {% if (teacher or isAdmin ) == true %}
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="upload.php">Upload video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.php?query=type:video lecturer:{{user.lastName}}">My videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="playlist.php?user={{userId}}">Manage playlists</a>
                    </li>
                </ul>
                <hr>
                {%endif%}

                {% if isAdmin %}
                {% if alert %}
                <div class="alert-request alert">
                    {% endif %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="adminpage.php">Go to adminpage</a>
                        </li>
                    </ul>
                    {% if alert %}
                </div>
                {% endif %}
                <hr>
                {% endif %}

            </div>

        </div>
        <div class="col-md-10">
            <!--Content-->
            <div class="main bg-light jumbotron">
                {% block mainContent %} <p>No content</p> {% endblock %}
            </div>


            <!--<div class="main bg-light jumbotron">
                {% block searchResults %} <p>No content</p> {% endblock %}
            </div>-->
        </div>



        {% if showadminpage %}
        {% include 'adminpage.html' with {
        'isAdmin': isAdmin,
        'names' : names,
        'searchResults' : searchResults,
        } %}
        {% endif %}
    </div>
</div>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>