{% extends "base.html" %}
{% block mainContent %}
    <h1>Top videos</h1>
    <div class="d-flex align-content-start flex-wrap">
        {% for video in videos %}
            <div class="col-sm-3">
                <div class="card w-30" style="width: 11rem;">
                    <img class="card-img-top" src="data:image/png;base64,{{ video.thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ video.title }}</h5>
                        <p class="card-text">{{ video.description }}</p>
                        <a href="watch.php?id={{ video.id }}" class="btn btn-primary">Watch</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h1>Playlist you subscribe to</h1>
    <div class="d-flex align-content-start flex-wrap">
        {% for playlist in playlists %}
            <div class="col-sm-3">
                <div class="card w-30" style="width: 11rem;">
                    <img class="card-img-top" src="data:image/png;base64,{{ playlist.thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ playlist.title }}</h5>
                        <p class="card-text">{{ playlist.description }}</p>
                        <a href="playlist.php?id={{ playlist.id }}" class="btn btn-primary">See playlist</a>
                        <form action="playlist.php" target="_self" method="POST">
                            <input type="hidden" name="playlistid" value="{{ playlist.id }}">
                            {% if playlist.subscribed == true %}
                                <input type="hidden" name="unsubscribe" value="1">
                                <button class="btn btn-outline-warning mt-1" type="submit">Unsubscribe</button>
                            {% else %}
                                <input type="hidden" name="subscribe" value="1">
                                <button type="submit" class="btn btn-primary mt-1">Subscribe</button>
                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
