<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="/public/css/loginandregisterform.css">

</head>
<body>

<!-- This snippet is taken from:
            https://startbootstrap.com/snippets/login/
-->
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" action="/login.php" method="post">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="inputEmail" class="form-control"
                                   placeholder="example@mail.com"
                                   required autofocus>
                            <label for="inputEmail">Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="inputPassword" class="form-control"
                                   placeholder="*******"
                                   required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input"  id="rememberPassword" name="rememberPassword" >
                            <label class="form-check-label" for="rememberPassword">Remember me</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" name="submit" type="submit">Sign
                            in
                        </button>

                        <!-- This could be made as a small text like the one on the register page instead of a big button -->

                    </form>
                    <a class="d-block text-center mt-2 small" href="/register.php">Register</a>

                    {% if message %}
                    <!-- Display error message -->

                    <hr class="my-4">
                    <div class="alert alert-info" role="alert">
                        <h5 align="center">
                            {{ message.text}}
                        </h5>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>