{% extends "base.html" %}


{% block mainContent %}
    {% if (isAdmin == true) or (playlist.managed_by == userId) %}
        <!-- playlist start-->
        <div class="alert alert-info" role="alert">
            Only owner and administrators can edit this playlist. Since you can see this, you can edit it. With great power comes great responsebilities.
        </div>
        <div class="form-group">
            <form action="playlist.php" method="post" target="_self">
                <input type="text" name="playlistid"  value="{{ playlist.id }}" hidden>
                <label for="playlisttitle">Title </label>
                <input type="text" name="playlisttitle" class="form-control" value="{{ playlist.title }}">
                <label for="description">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">{{ playlist.description }}</textarea>
                <button type="button" class="btn btn-warning">Submit changes</button>
            </form>
        </div>
        <form action="playlist.php" method="POST" target="_self">
            <input type="hidden" name="deleteplaylist" value="alright">
            <input type="text" name="playlistid"  value="{{ playlist.id }}" hidden>
            <button type="submit" class="btn btn-danger">Delete playlist</button>
        </form>
    {% else %}
        <h1>Manage playlist {{ playlist.title }}</h1>

    {% endif %}
    <hr>
    <div class="d-flex align-content-start flex-wrap">

        {% set test = 3 %}
        {% for video in playlist.videos %}
            {% set positions = loop.length %}
            <div class="col-sm-3">
                <div class="card w-30" style="width: 11rem;">
                    <img class="card-img-top" src="data:image/png;base64,{{ video.thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ video.title }}</h5>
                        <p class="card-text">{{ video.description }}</p>
                        <a href="watch.php?id={{ video.id }}" class="btn btn-primary">Watch</a>
                        <form target="_self" action="playlist.php" method="POST">
                            <input type="hidden" name="remove" value="yes please">
                            <input type="hidden" name="videoid" value="{{ video.id }}">
                            <input type="hidden" name="playlistid" value="{{ playlist.id }}">
                            <button type="submit" class="btn btn-warning">Remove</button>
                        </form>
                        <div class="form-group">
                            <label for="selectposition">Change position</label>
                            <form action="playlist.php" method="POST" target="_self">
                                <input name="changePosition" type="hidden" value="changePosition">
                                <input type="hidden" name="videoid" value="{{ video.id }}">
                                <input type="hidden" name="playlistid" value="{{ playlist.id }}">
                                <select onchange="this.form.submit()"  class="form-control" name="position" id="selectposition">
                                    {% for pos in 1..positions %}
                                        {% if pos == video.position %}
                                            <option selected>{{ pos }}</option>
                                        {% else %}
                                            <option>{{ pos }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
