{% extends "base.html" %}
{% block mainContent %}
    <h1>Lag ny spilleliste</h1>
    <form action="playlist.php" target="_self" method="POST" id="formNewPlaylist" enctype="multipart/form-data">
        <input type="hidden" name="newplaylist" value="">
        <div class="form-group row">
            <div class="col-sm-10">
            <label for="playlisttitle">Name your playlist</label>
            <input type="text" class="form-control" name="playlisttitle" id="playlisttitle" placeholder="Awesome lectures">
            </div>
            </div>
        <div class="form-group row">
            <div class="col-sm-10">

            <label for="playlistdescription">Write something descriptive about the playlist</label>
            <input type="text" class="form-control" name="playlistdescription" id="playlistdescription" placeholder="Lectures for dissecting animals">
            </div>
        </div>

        <div class="form-group row">
            <label for="courses" class="col-form-label">Link with course</label>
            <div class="col-sm-10">
            <select class="form-control" id="courses">
                <option>None</option>
                {% for course in courses %}
                    <option name="course">{{ course }}</option>
                {%  endfor %}
            </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-file">
                <input type="file" name="thumbnail" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose a thumbnail. If none are provided we will generate one.</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" id="newplaylist" class="btn btn-primary btn-lg btn-block">All done! Create playlist</button>
            </div>
        </div>
    </form>
<hr>
    <h1>Available playlists</h1>
    <div class="d-flex align-content-start flex-wrap">
{% for playlist in playlists %}
<div class="col-sm-3">
    <div class="card w-30" style="width: 11rem;">
        <img class="card-img-top" src="data:image/png;base64,{{ playlist.thumbnail }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ playlist.title }}</h5>
            <p class="card-text">{{ playlist.description }}</p>
            <a href="playlist.php?id={{ playlist.id }}" class="btn btn-primary">See playlist</a>
            <form action="playlist.php" target="_self" method="POST">
                <input type="hidden" name="playlistid" value="{{ playlist.id }}">
                {% if playlist.subscribed == true %}
                    <input type="hidden" name="unsubscribe" value="1">
                    <button class="btn btn-outline-warning mt-1" type="submit">Unsubscribe</button>
            {% else %}
                <input type="hidden" name="subscribe" value="1">
                <button type="submit" class="btn btn-primary mt-1">Subscribe</button>
            {% endif %}

            </form>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
