<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="/public/css/loginandregisterform.css">

</head>
<body>

<!-- This snippet is taken from:
            https://startbootstrap.com/snippets/registration-page/
-->

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" action="/register.php" method="post">

                        <div class="form-label-group">
                            <input type="text" id="inputFirstname" name="inputFirstname" class="form-control"
                                   placeholder="Firstname"
                                   required>
                            <label for="inputFirstname">Firstname</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputLastname" name="inputLastname" class="form-control"
                                   placeholder="Lastname"
                                   required>
                            <label for="inputLastname">Lastname</label>
                        </div>

                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="inputEmail" class="form-control"
                                   placeholder="Email address"
                                   required>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="inputPassword" class="form-control"
                                   placeholder="Password"
                                   required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" name="inputConfirmPassword"
                                   class="form-control" placeholder="Password"
                                   required>
                            <label for="inputConfirmPassword">Confirm password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="techerCheckbox"
                                   name="techerCheckbox">
                            <label class="custom-control-label" for="techerCheckbox">Teacher</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" name="submit" type="submit">
                            Register
                        </button>

                    </form>

                    <a class="d-block text-center mt-2 small" href="/login.php">Sign In</a>

                    {% if message %}
                    <!-- Display error message -->

                    <hr class="my-4">
                    <div class="alert alert-info" role="alert">
                        <h5 align="center">
                            {{ message.text}}
                        </h5>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>