{% extends "base.html" %}
{% block mainContent %}

{% if searchresults.message %}
<div class="center ">
    <div class="col-sm-3 center ">
        <div class="card w-30 alert-request" style="width: 30rem;">
         <div class="card-body center">
             <h3 class="card-text center">{{ searchresults.message }}</h3>
         </div>
      </div>
    </div>
</div>
{% else %}

<div class="d-flex align-content-start flex-wrap">
    {% for result in searchresults %}
    <div class="col-sm-3">
        <div class="card w-30" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title">{{ result.title }}</h5>
                <p class="card-text">{{ result.description }}</p>
                {% if result.playlist == 1 %}
                    <a href="playlist.php?id={{ result.uuid }}" class="btn btn-primary">Go to playlist</a>
                {% else %}
                    <a href="watch.php?id={{ result.uuid }}" class="btn btn-primary">Go to video</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
