{% extends "base.html" %}


{% block mainContent %}
    <h1>Upload video</h1>
    <hr>
<form action="upload.php" method="POST" id="uploadVideo" target="_self" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="videoTitle" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="videoTitle" placeholder="Titles are er short names that describes or symbolises the contents of a video " required>
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description is the pattern of narrative development that aims to make vivid a place, object, character, or group." required></textarea>
        </div>
    </div>
    <!-- Dropdown with courses-->
<div class="form-group row">
    <div class="col-sm-10">
        <p>The video can be linked with any course, even if you are not a part of that course.</p>
    </div>
</div>
    <div class="form-group row">

        <label for="selectCourse" class="col-sm-2 col-form-label">Link with course</label>
        <div class="col-sm-10">
        <select class="form-control" name="course" id="selectCourse">
            <option>None</option>
        {% for course in courses %}
            <option name="course" value="{{ course }}">{{ course }}</option>
        {%  endfor %}
        </select>
    </div>
    </div>
    <!-- Add to playlist -->
    <div class="form-group row">

        <label for="selectPlaylist" class="col-sm-2 col-form-label">Add to playlist</label>
        <div class="col-sm-10">
            <select class="form-control" name="playlist" id="selectPlaylist">
                <option>None</option>
                {% for playlist in playlists %}
                    <option value="{{ playlist.id }}">{{ playlist.title }}</option>
                {%  endfor %}
            </select>
        </div>
    </div>
    <!-- Add to playlist end-->
    <!-- Add tags to video-->
    <div class="form-group row">
        <div class="col-sm-10">
            <p>Seperate tags with ",". Ex.:"docker, student, php"</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="tags" class="col-sm-2 col-form-label">Add tags to define your video</label>
        <div class="col-sm-10">
            <input type="text" name="tag" class="form-control" id="tags" placeholder="Tags are short, informative and can be used on search.">
        </div>
    </div>
    <div class="form-group row">
    <div class="custom-file">
        <input name="video" type="file" class="custom-file-input" id="videoFile" required>
        <label class="custom-file-label" for="videoFile">Choose video file</label>
    </div>
    </div>
    <div class="form-group row">
        <div class="custom-file">
            <input type="file" name="thumbnail" class="custom-file-input" id="thumbnailFile">
            <label class="custom-file-label" for="thumbnailFile">Choose a thumbnail. If none are provided we will generate one.</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg btn-block">All done! Upload video</button>
        </div>
    </div>
</form>
{% endblock %}
