<div class="">
  <h2 class="h2">{{content-title}}</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <!--Fill with video-->
        {% for video in videos%}
        <div class="media">
            <img class="mr-3" src="{{video.source}}" alt="{{video.alt}}">
            <div class="media-body">
                <h5 class="mt-0">{{video.title}}</h5>
                {{video.description}}
            </div>
        </div>
        {%endfor%}
    </div>
</div>