{% extends "base.html" %}
{% block mainContent %}
    <video class="embed-responsive" preload="auto" controls xmlns="">
        <source src="/stream.php?id={{video.id}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br>
    {% if video.owner == userId or isAdmin == true %}
    <form action="watch.php" target="_self" method="POST">
        <div class="form-group ">
        <input type="hidden" name="videoid" value="{{ video.id }}">
        <input type="text" name="videotitle" class="form-control form-control-lg" placeholder="{{ video.title }}">
        <hr>
        <textarea class="form-control" name="videodescription" id="exampleFormControlTextarea1" rows="3" placeholder="{{video.description}}"></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Update fields</button>
    </form>
    {% else %}
    <h1>{{ video.title }}</h1>
        <hr>
        <p>{{ video.description }}</p>
    {% endif %}
    <div class="btn-group" role="group" aria-label="Basic example">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add to playlist
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for playlist in playlists %}
                    <!--<a class="dropdown-item" href="#">Action</a>-->
                    <form action="playlist.php" method="POST" target="_self">
                        <input type="hidden" name="videoid" value="{{ video.id }}">
                        <input type="hidden" name="playlistid" value="{{ playlist.id }}">
                        <input type="hidden" name="location" value="{{ playlist.id }}">
                        <button class="btn dropdown-item" type="submit" name="addvideo">{{ playlist.title }}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
        {% if video.owner == userId or isAdmin == true %}
        <div style="margin-left: 10px;">
        <form action="watch.php" target="_self" method="POST">
            <input type="hidden" name="videoid" value="{{ video.id }}">
            <input type="hidden" name="delete" value="nooooo">
             <button type="submit" class="btn btn-danger">Delete video</button>
        </form>
        </div>
        {% endif %}
    </div>

    <hr>
{% if video.owner == userId or isAdmin == true %}
    <form action="watch.php" target="_self" method="POST">
        <input type="hidden" name="videoid" value="{{ video.id }}">
        <input type="text" name="videotags" class="form-control" id="colFormLabel" placeholder="{{ tags|join(', ') }}">
        <button type="submit" class="btn btn-warning">Update tags</button>
    </form>
{% else %}
    {% for tag in tags%}
        <a href="/search.php?query=tags:{{tag}}" class="badge badge-info">{{tag}}</a>
    {% endfor%}
{% endif %}
    <hr>
    <h3>Rating: {{rating.average}}/{{rating.best}} ({{rating.submissions}})</h3>
    <!-- Add rating section -->
    <div class="form-group">
        <form action="comment.php" method="POST" target="_self">
            <label for="exampleFormControlSelect1">Add rating</label>
            <select onchange="this.form.submit()"  class="form-control w-25" name="ratingvalue" id="exampleFormControlSelect1">
                {%  for option in 1..rating.best %}
                <option>{{ option }}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="videoid" value="{{ video.id }}">
            <input type="hidden" name="rating" value="hello">
        </form>
    </div>
    <!-- Add rating end-->
    <hr>
    <h3>Comments</h3>
    <form action="comment.php" target="_self" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="comment" placeholder="Great video..." aria-label="New comment" aria-describedby="basic-addon2">
            <input type="hidden" name="videoid" value="{{video.id}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Add comment</button>
            </div>
        </div>
    </form>
    <ul class="list-unstyled">
        {% for comment in comments %}
            <div class="media-body">
                <h5 class="mt-0">{{comment.firstName}} {{comment.lastName}} - {{comment.dTime}}</h5>
                {{comment.comment}}
                {% if (comment.madeby == userId) or (isAdmin == true)%}
                    <br>
                    <form action="comment.php" method="post" target="_self">
                        <input type="hidden" name="videoid" value="{{ video.id }}">
                        <input type="hidden" name="commentid" value="{{ comment.id }}">
                        <button type="submit" class="btn btn-danger">Delete comment</button>
                    </form>
                {% endif %}
                <hr>
            </div>

        {% endfor %}
    </ul>
{%endblock%}



